target/*
out
.nrepl-port
.rebel_readline_history
figwheel_server.log
*db_init_log.txt
*.env*
*.lein-repl-history
.lein-failures
use_db
log.txt
node_modules
package-lock.json
package.json
resources/public/js/compiled/
resources/public/js/test/
*eb-default-vpc.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Artifact
*.zip

# EMACS garbage
*#*#*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.idea*
pom.xml*
.repl.*
