{:paths   ["src" "resources"]
 :deps    {amazonica/amazonica                                          {:mvn/version "0.3.162"}
           com.signal-ai/amazonica-aws-sso                              {:mvn/version "1.0.2"}   ;; Allow SSO credentials via CredentialsProviderChain
           software.amazon.awssdk/ssooidc                               {:mvn/version "2.20.50"} ;; Required to use SSO OIDC related properties for login
           bk/ring-gzip                                                 {:mvn/version "0.3.0"}
           buddy/buddy-auth                                             {:mvn/version "3.0.323"}
           camel-snake-kebab/camel-snake-kebab                          {:mvn/version "0.4.3"}
           cheshire/cheshire                                            {:mvn/version "5.11.0"}
           clj-http/clj-http                                            {:mvn/version "3.12.3"}
           clojure.java-time/clojure.java-time                          {:mvn/version "1.2.0"}
           com.amazonaws/aws-java-sdk-s3                                {:mvn/version "1.12.385"}
           com.bugsnag/bugsnag                                          {:mvn/version "3.6.4"}
           com.fasterxml.jackson.datatype/jackson-datatype-joda         {:mvn/version "2.13.3"}
           com.fzakaria/slf4j-timbre                                    {:mvn/version "0.3.21"}
           com.github.seancorfield/next.jdbc                            {:mvn/version "1.3.847"}
           com.github.steffan-westcott/clj-otel-api                     {:mvn/version "0.1.5"}
           com.github.steffan-westcott/clj-otel-exporter-otlp           {:mvn/version "0.1.5"}
           com.github.steffan-westcott/clj-otel-sdk                     {:mvn/version "0.1.5"}
           com.github.steffan-westcott/clj-otel-sdk-extension-resources {:mvn/version "0.1.5"}
           com.h2database/h2                                            {:mvn/version "2.1.214"}
           com.taoensso/timbre                                          {:mvn/version "6.0.4"}
           com.twelvemonkeys.servlet/servlet                            {:mvn/version "3.9.4"}
           com.zaxxer/HikariCP                                          {:mvn/version "3.3.1"}
           com.github.seancorfield/honeysql                             {:mvn/version "2.4.1066"}
           image-resizer/image-resizer                                  {:mvn/version "0.1.10"}
           io.grpc/grpc-netty-shaded                                    {:mvn/version "1.49.0"}
           io.grpc/grpc-protobuf                                        {:mvn/version "1.49.0"}
           io.grpc/grpc-stub                                            {:mvn/version "1.49.0"}
           io.zonky.test/embedded-postgres                              {:mvn/version "2.0.3"}
           javax.servlet/servlet-api                                    {:mvn/version "2.5"}
           lambdaisland/deep-diff2                                      {:mvn/version "2.7.169"}
           less-awful-ssl/less-awful-ssl                                {:mvn/version "1.0.6"}
           metosin/compojure-api                                        {:mvn/version "2.0.0-alpha31"}
           metosin/malli                                                {:mvn/version "0.12.0"}
           metosin/spec-tools                                           {:mvn/version "0.10.3"}
           fi.metosin/reitit                                            {:mvn/version "0.7.0-alpha6"}
           metosin/ring-swagger-ui                                      {:mvn/version "5.0.0-alpha.0"}  ;; To support OpenAPI 3.1.0
           migratus/migratus                                            {:mvn/version "1.4.9"}
           org.clojure/clojure                                          {:mvn/version "1.12.0-alpha3"} ;; For Java Process API
           org.keycloak/keycloak-adapter-core                           {:mvn/version "21.0.1"}
           org.keycloak/keycloak-adapter-spi                            {:mvn/version "21.0.1"}
           org.keycloak/keycloak-admin-client                           {:mvn/version "21.0.1"}
           org.keycloak/keycloak-common                                 {:mvn/version "21.0.1"}
           org.keycloak/keycloak-core                                   {:mvn/version "21.0.1"}
           org.postgresql/postgresql                                    {:mvn/version "42.5.1"}
           org.slf4j/log4j-over-slf4j                                   {:mvn/version "1.7.30"}
           peridot/peridot                                              {:mvn/version "0.5.4"}
           ring/ring                                                    {:mvn/version "1.9.6"}
           ring/ring-json                                               {:mvn/version "0.5.1"}
           slingshot/slingshot                                          {:mvn/version "0.12.2"}
           spootnik/signal                                              {:mvn/version "0.2.4"}}
 :aliases {:dev  {:extra-deps {djblue/portal {:mvn/version "0.37.1"}}}
           :test {:extra-paths ["test"]
                  :extra-deps  {biiwide/sandboxica          {:mvn/version "0.4.0"}
                                lambdaisland/kaocha         {:mvn/version "1.85.1342"}
                                nubank/matcher-combinators  {:mvn/version "3.7.2"}
                                org.clojure/tools.cli       {:mvn/version "1.0.214"}
                                org.clojure/tools.namespace {:mvn/version "1.3.0"}
                                ring/ring-mock              {:mvn/version "0.4.0"}}}

           ;; Use the Kaocha test runner, per Kaocha installation instructions
           ;; https://github.com/lambdaisland/kaocha
           :test-runner {:main-opts ["-m" "kaocha.runner"]}

           :run {:main-opts ["-m" "kaleidoscope.main"]}

           :build {:extra-paths ["build"]
                   :extra-deps  {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
                   :ns-default  kaleidoscope.build}}}
