##################################################################3
## Connection to the main Database
##################################################################3
export ANDREWSLAI_DB_TYPE=postgres

export ANDREWSLAI_DB_HOST=localhost
export ANDREWSLAI_DB_USER=andrewslai
export ANDREWSLAI_DB_PASSWORD=andrewslai
export ANDREWSLAI_DB_NAME=andrewslai
export ANDREWSLAI_DB_PORT=5432

##################################################################3
## Keycloak (OAUTH) connection information
## For now, the OAuth provider is assumed to be Keycloak
##################################################################3
export ANDREWSLAI_AUTH_CLIENT=<<KEYCLOAK-CLIENT-NAME-HERE>>
export ANDREWSLAI_AUTH_REALM=<<KEYCLOAK-REALM-HERE>>
export ANDREWSLAI_AUTH_SECRET=<<SOME-SECRET-STRING-HERE>>
export ANDREWSLAI_AUTH_URL=<<URL-TO-AUTH-ENDPOINT-HERE>>

# What type of authentication do you want to use?
export ANDREWSLAI_AUTH_TYPE=none

##################################################################3
## Set up how you want to serve static content
##################################################################3
export ANDREWSLAI_STATIC_CONTENT_TYPE=local
export ANDREWSLAI_STATIC_CONTENT_FOLDER=/andrewslai/assets/public

##################################################################3
## Connection to Wedding s3 bucket
## Content from the wedding is served from an S3 bucket:
## this specifies which bucket to connect to to retrieve that content
##################################################################3
export ANDREWSLAI_WEDDING_BUCKET=andrewslai-wedding

##################################################################3
## Connection to an S3 bucket that has the frontend
## Currently, the frontend JS is served from an S3 bucket
##################################################################3
export ANDREWSLAI_BUCKET=andrewslai

##################################################################3
## Other settings
##################################################################3
export AWS_DEFAULT_REGION=us-east-1

# one of (debug, info, warn, fatal, error)
export ANDREWSLAI_LOG_LEVEL=info

# Port to bind the http server to
export ANDREWSLAI_PORT=5000
