##################################################################3
## Connection to the main Postgres Database
##################################################################3
ANDREWSLAI_DB_HOST=localhost
ANDREWSLAI_DB_USER=andrewslai
ANDREWSLAI_DB_PASSWORD=andrewslai
ANDREWSLAI_DB_NAME=andrewslai
ANDREWSLAI_DB_PORT=5432

##################################################################3
## Keycloak (OAUTH) connection information
## For now, the OAuth provider is assumed to be Keycloak
##################################################################3
ANDREWSLAI_AUTH_CLIENT=<<KEYCLOAK-CLIENT-NAME-HERE>>
ANDREWSLAI_AUTH_REALM=<<KEYCLOAK-REALM-HERE>>
ANDREWSLAI_AUTH_SECRET=<<SOME-SECRET-STRING-HERE>>
ANDREWSLAI_AUTH_URL=<<URL-TO-AUTH-ENDPOINT-HERE>>

# true if you want to disable OAuth for local dev
ANDREWSLAI_OAUTH_DISABLED=

##################################################################3
## Set up how you want to serve static content
## Currently unused
## ANDREWSLAI_STATIC_CONTENT=filesystem serves static content from the local machine
##################################################################3
ANDREWSLAI_STATIC_CONTENT=filesystem
ANDREWSLAI_STATIC_CONTENT_BASE_URL=/andrewslai/assets/public

##################################################################3
## Connection to Wedding s3 bucket
## Content from the wedding is served from an S3 bucket:
## this specifies which bucket to connect to to retrieve that content
##################################################################3
ANDREWSLAI_WEDDING_BUCKET=

##################################################################3
## Connection to an S3 bucket that has the frontend
## Currently, the frontend JS is served from an S3 bucket
##################################################################3
ANDREWSLAI_BUCKET=

##################################################################3
## Other settings
##################################################################3
AWS_DEFAULT_REGION=us-east-1

# one of (debug, info, warn, fatal, error)
ANDREWSLAI_LOG_LEVEL=

# Port to bind the http server to
ANDREWSLAI_PORT=5000
