#!/bin/bash

##################################################################3
## Connection to the main Database
##################################################################3
export KALEIDOSCOPE_DB_TYPE=embedded-h2

export KALEIDOSCOPE_DB_HOST=localhost
export KALEIDOSCOPE_DB_USER=andrewslai
export KALEIDOSCOPE_DB_PASSWORD=andrewslai
export KALEIDOSCOPE_DB_NAME=andrewslai
export KALEIDOSCOPE_DB_PORT=5432

##################################################################3
## Keycloak (OAUTH) connection information
## For now, the OAuth provider is assumed to be Keycloak
##################################################################3
export KALEIDOSCOPE_AUTH_CLIENT=test-login
export KALEIDOSCOPE_AUTH_REALM=test
export KALEIDOSCOPE_AUTH_SECRET=
export KALEIDOSCOPE_AUTH_URL="http://localhost:8080"

## What type of authentication do you want to use?
export KALEIDOSCOPE_AUTH_TYPE=custom-authenticated-user

##################################################################3
## Authorization model
##################################################################3
## What type of authorization do you want to use?
export KALEIDOSCOPE_AUTHORIZATION_TYPE=public-access

##################################################################3
## Set up how you want to serve static content
##################################################################3
export KALEIDOSCOPE_STATIC_CONTENT_TYPE=local-filesystem
export KALEIDOSCOPE_STATIC_CONTENT_FOLDER=/Users/alai/spl/andrewslai-frontend/resources/public

##################################################################3
## Keycloak (OAUTH) connection information
## For now, the OAuth provider is assumed to be Keycloak
##################################################################3
## What type of authentication do you want to use?
export KALEIDOSCOPE_WEDDING_AUTH_TYPE=custom-authenticated-user

##################################################################3
## Authorization model
##################################################################3
## What type of authorization do you want to use?
export KALEIDOSCOPE_WEDDING_AUTHORIZATION_TYPE=public-access

##################################################################3
## Set up how you want to serve static content
##################################################################3
export KALEIDOSCOPE_WEDDING_STATIC_CONTENT_TYPE=local-filesystem
export KALEIDOSCOPE_WEDDING_STATIC_CONTENT_FOLDER=/Users/alai/spl/andrewslai-frontend/resources/public

##################################################################3
## Connection to Wedding s3 bucket
## Content from the wedding is served from an S3 bucket:
## this specifies which bucket to connect to to retrieve that content
##################################################################3
export KALEIDOSCOPE_WEDDING_BUCKET=

##################################################################3
## Other settings
##################################################################3
export AWS_DEFAULT_REGION=us-east-1
export AWS_PROFILE=andrewslai

# one of (debug, info, warn, fatal, error)
export KALEIDOSCOPE_LOG_LEVEL=info

# Port to bind the http server to
export KALEIDOSCOPE_PORT=5001
