@charset "UTF-8";
/* CSS Document*/

body {
    background-color: white;
    color: black;}

body.aboutpage {
  background-color:black;
  margin: 8px;
  /*  background: url(../images/Library_V2.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.landingpage {
  background: url(../images/EarthRise2_Crop.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {text-decoration: underline;
    font-size: 24;}

h2 {font-size: 18;
    font-style: italic;
    margin-bottom:6px;
    padding-bottom:0px;}

pre {
	width: auto;                          /* specify width  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	font-size: 16 pt;
	font-family: "Times New Roman", Times, serif;
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */		       /* only if needed */
}

.article-title {
    font-size: 44;
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;}

img.Centered{
    display: block;
    margin: auto;}

ul.bulletlist{
	margin-bottom:6px;
	margin-top:0px;}

li.bullet{
    font-size:16;
    font-style:normal;
    font-weight:normal;
    margin-bottom:0px;
    margin-top:0px;}

.container {
   position:relative;
   padding:0 0 0 55px;}

#primary-content{
    width: 500px;
    margin-left: auto;
    margin-right: auto;}

.zoom-icon {
    float:right;
    transition: transform .3s;}

.zoom-icon:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);}
