@charset "UTF-8";
/* CSS Document*/

body {
    background-color: white;
    color: black;}

h1 {text-decoration: underline;
    font-size: 24;}

h2 {font-size: 18;
    font-style: italic;
    margin-bottom:6px;
    padding-bottom:0px;}

/*****************************************************/
/** Article formatting  **/
/*****************************************************/

.article-title {
    font-size: 44;
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;}

.article-subheading {
    font-size: 14;
    font-style: normal;
    font-weight: bold;
    color: #505050;
    margin-left: 10px;}

.line {
    border-bottom: 2px solid black;
    width: 90%;
    display: inline-block;
    box-shadow: 2px 5px 2px #888;
}

#primary-content{
    width: 500px;
    margin-left: auto;
    margin-right: auto;}

/*****************************************************/
/** Zoom icons **/
/*****************************************************/

.zoom-icon {
    float:right;
    transition: transform .3s;
    width: auto;}

.zoom-icon:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);}

/*****************************************************/
/** Loading screen  **/
/*****************************************************/

.load-icon{
    text-align: center;
    margin: auto;
    position: relative;
    top: 50px;
    width: 100%;}

/*****************************************************/
/** Article cards  **/
/*****************************************************/
div.article-card {
    max-width: 18rem;
    display: inline-block;
    min-width: 350px;
    margin: 10px;}

.card-group {
    padding-top: 40px;
    bottom: 0;
    justify-content: center;
    width: 100%;}

div.card-icon {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 25%;}

div.card-description {
    padding-top: 0.5rem;
    height: 100%;
    width: 75%;}

/*****************************************************/
/** Misc/ maybe deletable?  **/
/*****************************************************/
body.aboutpage {
  background-color:black;
  margin: 8px;
  /*  background: url(../../images/Library_V2.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.landingpage {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.Centered{
    display: block;
    margin: auto;}

ul.bulletlist{
	margin-bottom:6px;
	margin-top:0px;}

li.bullet{
    font-size:16;
    font-style:normal;
    font-weight:normal;
    margin-bottom:0px;
    margin-top:0px;}

.container {
   position:relative;
   padding:0 0 0 55px;}

pre {
	width: auto;                          /* specify width  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	font-size: 16 pt;
	font-family: "Times New Roman", Times, serif;
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */		       /* only if needed */}


.resume-info-icon:hover {
    background-color: #343a40 !important;
}

.resume-info-card:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}



.pageChange-enter {
    opacity: 0.01;
}

.pageChange-enter-active {
    opacity: 1;
    color: blue;
  transition: opacity 5000ms;
}

/* .pageChange-enter-done { */
/*   opacity: 1; */
/*   transition: opacity 5000ms ease-in; */
/* } */

.pageChange-exit {
    opacity: 1;
    color: yellow;
}

.pageChange-exit-active {
    opacity: 0.01;
    color: red;
  transition: opacity 5000ms;
}

.pageChange-exit-done {
  opacity: 0.01;
  transition: opacity 5000ms ease-in;
}


/*****************/
/* modal popovers*/
/*****************/
.modal-header {
  background-color: #f5f5f5;
}

.modal-header.panel-heading {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.modal-wrapper {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1040
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
  -webkit-animation: fade-in 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-in 0.2s; /* Firefox < 16 */
  -ms-animation: fade-in 0.2s; /* Internet Explorer */
  -o-animation: fade-in 0.2s; /* Opera < 12.1 */
  animation: fade-in 0.2s;
}

.modal-child {
  margin: auto;
  margin-top: 30px;
  z-index: 2;
  -webkit-animation: fade-in-child 0.2s;
  -moz-animation: fade-in-child 0.2s;
  -ms-animation: fade-in-child 0.2s;
  -o-animation: fade-in-child 0.2s;
  animation: fade-in-child 0.2s;
}

@keyframes fade-in {
  from {opacity: 0;}
  to   {opacity: 0.6;}
}

@keyframes fade-in-child {
  from {opacity: 0;}
  to   {opacity: 1;}
}

.slatejs-article-editor {
    box-shadow: 2px 2px 12px 0px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.slatejs-text-editor {
    box-shadow: inset 1px 1px 5px 0px;
}

.editor-title {
  border: none;
  font-size: 24pt;
  font-weight: bold;
  margin: 5px;
}

.editor-author {
  border: none;
  font-size: 16pt;
  font-weight: bold;
  margin: 3px;
  color: darkgray;
}

.code-block {
  white-space: pre-wrap;
  background: hsl(30, 80%, 90%);
}

.url {
  font-style: italic;
  font-size: 14pt;
  margin: 3px;
}

.serialized-article {
  border-style: ridge;
}

.login-wrapper {
  text-align: center;
  margin: 20px;
}

.login-frame {
    display: inline-block;
    min-width: 500px;
    border-color: black;
    border-style: ridge;
    border-width: thin;
}

.login-header {
    background-color: #5EADCA;
}

.user-profile-wrapper {
    margin: 20px;
}

.avatar-thumbnail {
    width: 100px;
}
